<div class="requests-page">

  <header class="requests-header">

    <div class="logo">
      Skill<span>Swap</span>
    </div>

    <a routerLink="/dashboard">
      ← Dashboard
    </a>

  </header>


  <main class="requests-content">

    <div class="page-heading">

      <p>SKILLSWAP COMMUNITY</p>

      <h1>Connection Requests 🤝</h1>

      <span>
        Manage people who want to connect with you.
      </span>

    </div>
    <div class="request-filters">

  <button
    type="button"
    [class.active]="filter === 'all'"
    (click)="filter = 'all'">
    All
  </button>

  <button
    type="button"
    [class.active]="filter === 'pending'"
    (click)="filter = 'pending'">
    Pending
  </button>

  <button
    type="button"
    [class.active]="filter === 'accepted'"
    (click)="filter = 'accepted'">
    Accepted
  </button>

  <button
    type="button"
    [class.active]="filter === 'rejected'"
    (click)="filter = 'rejected'">
    Rejected
  </button>

</div>


    <div class="requests-list">

      <div
        class="request-card"
        *ngFor="let request of filteredRequests">

        <div class="request-avatar">
          {{ request.name.charAt(0) }}
        </div>


        <div class="request-info">

          <h2>{{ request.name }}</h2>

          <p>
            Wants to connect with you about
            <strong>{{ request.skill }}</strong>
          </p>

        </div>


        <div class="request-actions">

          <ng-container *ngIf="request.status === 'pending'">

            <button
              class="accept-btn"
              type="button"
              (click)="acceptRequest(request)">
              Accept
            </button>

            <button
              class="reject-btn"
              type="button"
              (click)="rejectRequest(request)">
              Reject
            </button>

          </ng-container>


          <span
            class="request-status"
            *ngIf="request.status === 'accepted'">

            ✓ Accepted

          </span>


          <span
            class="request-status rejected"
            *ngIf="request.status === 'rejected'">

            ✕ Rejected

          </span>

        </div>

      </div>

    </div>

  </main>

</div>
